.chargementContainer{
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../../public/images/Logo.gif) no-repeat center/contain;
}