.container_footer{
   width: 90%;
   margin: auto;
 }

.container_footer hr{
   height: 1px;
   border: 1px solid #650065;
   background-color: #650065;
   margin-top: 50px;
}

.container_footer p{
   text-align: center;
   font-weight: 100;
}

.container_footer p span{
    color: #650065;
}

@media screen and (max-width:700px) {
   .container_footer p{
      font-size: 15px;
   }
}